
.classpath
.gradle/2.7/taskArtifacts/cache.properties
.gradle/2.7/taskArtifacts/cache.properties.lock
.gradle/2.7/taskArtifacts/fileHashes.bin
*.bin
*.prefs
*.class
.project
.gradle/gradle.log
*.jar
build/*
run/*
eclipse/*
PvPParticles_Client.launch
RankedRewardEffectMod_Server.launch
PvPParticles/
